@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply text-gray-100 break-words bg-gray-900;
	}
}

@layer utilities {
	@keyframes spin {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(1turn);
		}
	}

	.spin {
		animation: spin 0.8s infinite;
	}
}
